:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#game-area {
	width: 400px;
	height: 400px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(20, auto);
	grid-template-rows: repeat(20, auto);
	gap: 0;
}

.game-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tile {
	/* outline: 1px solid red; */
	background-color: aquamarine;
}

.snake {
	background-color: blue;
}

.food {
	background-color: blueviolet;
}

#score-text {
	color: black;
	text-align: center;
}

.controller {
	color: black;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: 50px;
}

.button {
	color: black;
	text-align: center;
	width: 60px;
	height: 60px;
}
